<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  lang="en">
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width">

        <title>Home :. fourfivesix.ca</title>

        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body class="home-page">
        <div class="viewport">
            <header class="page-header" data-region="pageHeaderRegion">

                <a class="header-home-link" href="/" title="fourfivesix home">
                   home
                </a>
                <h1 class="app-title">Four Five Six</h1>

            </header>

            <nav class="main-nav" data-region="mainNavRegion"></nav>

            <div class="main" role="main">
                <div class="article-list-container" data-region="articleListRegion">
                    <%= markup %>
                </div>
                <aside class="main-aside" data-region="asideDataRegion"></aside>
            </div>

            <footer class="page-footer" data-region="pageFooterRegion"></footer>
        </div>
        <script data-appname="fourfivesix">
            (function(){

                var script = document.createElement('script');
                script.async = true;
                script.src = '/scripts/graffiti.js';

                var entry = document.getElementsByTagName('script')[0];
                entry.parentNode.insertBefore(script, entry);


            }());
        </script>
    </body>
</html>